


body{

  background-color: rgb(6, 50, 80);

}



  .formulario{

     background-image: url("assets/image/tank2.jpg"); 
     
  }

  .formulario2{

    background-image: url("assets/image/tank2.jpg"); 
    
 }
  
 
.cuadrad{

    font-size: 15px;   

}

  











