


  body{

    background-color: rgb(39, 2, 63);

  }

  
  #parrafou{
  
    font-family: monospace;
    text-shadow: 2px 2px 2px black;
    color: rgb(255, 255, 255);
  
  }


  #portal {


    margin-left: 110px;


  }

  







